<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>config</key>
	<dict>
            <key>emas.appKey</key>
            <string>333871883</string>
            <key>emas.appSecret</key>
            <string>457e37fe28404aaca94500e1b4191dd4</string>
            <key>emas.bundleId</key>
            <string>com.jufubao.mendianhexiao</string>
            <key>appmonitor.tlog.rsaSecret</key>
            <string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCgwT+/aZL8ifkgN3Q8gD8YuMlz59DxeeGlcMO533ncBZKD97TSyOA91RXd1M6bN9WHwpuhVBhX9vOBFI2jgJD8bUuX2yn2Vct22epnYswLDEKGhCA1wZHmAxCHXJpFXdQ5Q5JwW2HL1TOzoGvxApLyICbj9RhyvNFHVhNZZNYwWQIDAQAB</string>
            <key>appmonitor.rsaSecret</key>
            <string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCgwT+/aZL8ifkgN3Q8gD8YuMlz59DxeeGlcMO533ncBZKD97TSyOA91RXd1M6bN9WHwpuhVBhX9vOBFI2jgJD8bUuX2yn2Vct22epnYswLDEKGhCA1wZHmAxCHXJpFXdQ5Q5JwW2HL1TOzoGvxApLyICbj9RhyvNFHVhNZZNYwWQIDAQAB</string>
    	</dict>
	<key>services</key>
	<dict>
          	<key>tlog_service</key>
       	<dict>
			<key>status</key>
			<integer>1</integer>
			<key>version</key>
			<string>1.0.1.2</string>
		</dict>
         	<key>apm_service</key>
       	<dict>
			<key>status</key>
			<integer>1</integer>
			<key>version</key>
			<string>1.1.1</string>
		</dict>
         	<key>crashreporter_service</key>
       	<dict>
			<key>status</key>
			<integer>1</integer>
			<key>version</key>
			<string>1.2.0</string>
		</dict>
    	</dict>
</dict>
</plist>

